.dashboard-top{
    float:left;
    margin-left: 25rem;
    margin-top: 2rem;
}

.dashboard-description{
    font-size: 2vh;
}

.dashboard-register-list{
    float: left;
    margin-left: 25rem;
    width: 90rem;

}

.dashboard-table{
    height: 400; 
    width: '100%';
   
}

.input-grid{
    text-align: left;
    position: relative;
}

.input-grid #modal-item{
    margin-left: 5rem;
}

.input-grid .modal-textfield{
    margin-top: 4rem;
}

.input-grid #modal-button{
    margin-top: 5rem;
    margin-left: 5rem;
    color: #fff;
    background-color: #000EE6;
}