.dashboard-top{
    float:left;
    margin-left: 25rem;
    margin-top: 2rem;
}

.dashboard-description{
    font-size: 2vh;
}

.dashboard-register-list{
    float: left;
    margin-left: 25rem;
    width: 90rem;

}

.dashboard-table{
    height: 350px; 
    width: '100%';
}

.dashboard-options{
    margin-top: -1rem;
}

.open-modal-button{
    color: #fff !important;
    background-color: #000EE6 !important;
}

.add-icon{
    width: 20px;
    height: 20px;
    padding: 2px;
}

.input-grid{
    text-align: left;
    position: relative;
}

.input-grid #modal-item{
    margin-left: 5rem;
}

.input-grid .modal-textfield{
    margin-top: 4rem;
}

.input-grid #modal-button{
    margin-top: 5rem;
    margin-left: 5rem;
    width: 16em;
    color: #fff;
    background-color: #000EE6;
}