.admin-sidebar{
    background-color: #000EE6;
    width: 15%;
    height: 100%;
    color: #fff;
    position: fixed;
    margin: 0;
    text-align: center;
}

.template-photo{
    position: relative;
    float: left;
    margin-left: 2rem;
}

.user-role{
    color: #FFFFFFCC;
}

.sidebar{
    list-style: none;
    margin-left: -3rem;
    margin-top: 4rem;
    cursor: pointer;
}

.sidebar-item{
    font-size: 18px;
    padding: 1rem;
    margin-left: 3rem;
    font-weight: bold;
}

